.grid {
    position: absolute;
    width: 1200px;
    height: 800px;
    border: solid black 1px;
}

.user {
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    display: inline-block;
    background-color: orange;
}

.bullet {
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 100%;
    display: inline-block;
    background-color: red;
}

.bullet1 {
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 100%;
    display: inline-block;
    background-color: black;
}

.bullet2 {
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 100%;
    display: inline-block;
    background-color: pink;
}